<html>
    <head>
    </head>
    <body>
        <% if(fail === true) {%>
            <h2>Email or password invalid</h2>
        <% } %>
        <form action="/auth/login" method="POST">
            <h1>Login</h1>
            <label>
                Email
                <input type="text" name="email" placeholder="Email"/>
            </label>
            <label>
                Password
                <input type="password" name="password"/>
            </label>
            <input type="submit" value="Send"/>
        </form>
        <ul>
            <li><a href="/auth/sign-up">Sign Up</a></li>
        </ul>
    </body>
</html>