<html>
    <head>
    </head>
    <body>
        <form action="/auth/sign-up" method="POST">
            <h1>Register user</h1>
            <label>
                Email
                <input type="text" name="email" placeholder="Username" required/></br>
            </label>
            <label>
                Password
                <input type="password" name="password" required/>
            </label>
           
            <input type="submit" value="Save"/>
        </form>
    </body>
</html>